#main-wrapper.blog {

  #main-content {
    float: none;

    .date {
      @include sentinel-medium-italic;
      margin-top: 0;
      font-size: 14px;
    }

    .wp-prev-next {
      ul {
        list-style-type: none;
        padding: 0;
      }

      .prev-link {
        float: left;
      }

      .next-link {
        float: right;
      }
    }
  }

  #side-nav {
    position: static;
    float: right;
    height: auto;
  }
}