& {
  background-color: $orange;
}

& {
  text-align: center;
}

.scroll {
  color: $purple;

  height: 70px;
  top: -70px;
  width: 80px;
  margin-left: -40px;

  @include border-top-radius(5px);

  p {
    display: block;
    margin-top: 12px;
  }

  i {
    margin-top: 0;
    font-size: 30px;
  }
}

// Layout
.content {
  position: relative;
  height: 100%;
  display: table;
  padding: 0;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

.spacer {
  display: table-row;
  height: 10%;
}

.dates {
  display: table-row;
  @include distressed;
  font-size: 120px;
  line-height: 115px;
  height: 55%;

  .inner {
    // vertical-align: top;
  }

  p:first-child {
    margin-top: 0;
  }
}

.info {
  display: table-row;
  @include sentinel-medium-italic;
  font-size: 24px;
  height: 25%;
  line-height: 150%;

  .inner {
    // vertical-align: bottom;
  }

  p:first-child {
    margin-top: 0;
  }
}

// Responsive font size changes

@media all and (max-height: 730px), all and (max-width: 650px) {
  .dates {
    font-size: 110px;
    line-height: 105px;
  }

  .info {
    font-size: 22px;
  }
}

@media all and (max-height: 680px), all and (max-width: 600px) {
  .dates {
    font-size: 100px;
    line-height: 95px;
  }

  .info {
    font-size: 20px;
  }
}

@media all and (max-height: 600px), all and (max-width: 550px) {
  .dates {
    font-size: 90px;
    line-height: 85px;
  }

  .info {
    font-size: 18px;
  }
}

@media all and (max-height: 530px), all and (max-width: 480px) {
  .dates {
    font-size: 80px;
    line-height: 75px;
  }

  .info {
    font-size: 16px;
  }
}

@media all and (max-height: 480px), all and (max-width: 420px) {
  .dates {
    font-size: 70px;
    line-height: 65px;
  }

  .info {
    margin-top: 40px;
    font-size: 16px;
  }
}

@media all and (max-height: 420px), all and (max-width: 360px) {
  .dates {
    font-size: 60px;
    line-height: 55px;
  }

  .info {
    font-size: 14px;
  }
}

@media all and (max-height: 380px), all and (max-width: 320px) {
  .dates {
    font-size: 55px;
    line-height: 50px;
  }

  .info {
    font-size: 14px;
  }
}

@media all and (max-height: 330px), all and (max-width: 240px) {
  .dates {
    font-size: 50px;
    line-height: 45px;
  }

  .info {
    font-size: 14px;
  }
}

@media all and (max-height: 240px) {
  .dates {
    font-size: 30px;
    line-height: 25px;
  }

  .info {
    font-size: 10px;
  }
}