& {
  background-color: black;
}

.content {
  height: 100%;
  display: table;
  padding: 0;
  position: relative;
  z-index: 2;

  & > div {
    display: table-row;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.sponsors {
  color: $cream;
  text-align: center;

  @include whitney-medium;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.sponsors-2 {
  margin-top: 80px;
}

p {
  margin-top: 0;
}

.logos {
  margin-top: 10px;

  a {
    @include transition(opacity 400ms ease);

    &:hover {
      opacity: 0.6;
    }

    img {
      margin-bottom: 10px;
      margin-left: 40px;
      max-height: 150px;
      width: auto;
      vertical-align: middle;
    }

    &:first-child img {
      margin-left: 0;
    }
  }
}

.organiser {
  .logos {
    margin-top: 20px;
  }
}