& {
  background-color: $body-background;
}

.scroll {
  color: $purple;

  &:after {
    @include background(linear-gradient(bottom, rgba(black, 0), rgba(black, 0.2)));
  }
}

.content {
  padding-top: 20px;
}

h2 {
  @include sentinel-medium-italic;
  font-size: 20px;
}

li {
  @include hyphenation;
  border-bottom: 1px solid #ccc;
}

ul a {
  color: $grey;
  display: block;
  padding: 10px;
  font-size: 12px;
  position: relative;
  background-color: $body-background;

  &:hover {
    color: $orange;
  }
}

#blog-feed {
  width: 30%;
  float: left;

  .hidden {
    display: none;
  }

  h3 {
    @include whitney-medium;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a {
    padding-left: 0;
  }
}

#social-feed {
  width: 60%;
  float: right;
  overflow: hidden;

  ul {
    float: left;
    width: 45%;

    &.first {
      margin-right: 10%;
    }

    p {
      margin-top: 10px;
    }

    p:first-child {
      margin-top: 0;
    }
  }

  a {
    padding-left: 40px;

    &:before {
      position: absolute;
      @include font-icon;
      width: auto;
      font-size: 25px;
      left: 0;
      top: 14px;
    }
  }

  .twitter a:before { content: '\e805'; }
  .facebook a:before { content: '\e804'; }
}