#main-wrapper.gallery {
  padding-top: 30px;

  ul {
    margin: 0;
  }

  #filters {
    @include clearfix;
    padding-bottom: 20px;
    text-transform: lowercase;
    font-size: 14px;

    .year {
      text-align: center;
      li {
        display: inline-block;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
      .current {
        @include whitney-semibold;
        color: $orange;
      }
    }

    .show {
      margin-top: 5px;
      text-align: center;
      li {
        display: inline-block;
        margin-left: 5px;
        line-height: 26px;

        &:first-child {
          margin-left: 0;
        }

        &.all:after, &.featured:after {
          content: '/';
          color: $teal;
          font-weight: normal;
          margin-left: 5px;
        }

        &.bib-number a {
          display: none;
        }
      }

      &.featured .featured, &.all .all {
        @include whitney-semibold;
        color: $orange;
      }

      input {
        @include whitney-book;
        font-size: 12px;
        padding: 0 5px;
        line-height: 24px;
        height: 24px;
        border: 1px solid #ccc;
        @include border-radius(5px);
        width: 150px;
      }

      .submit {
        @include button;
        margin: 0;
        padding: 0 3px 0px 5px;
        line-height: 26px;
        span {
          display: block;
          height: 0;
          @include hide-text;
        }
      }
    }
  }

  #images {
    position: relative;

    .thumb {
      line-height: 0;
      float: left;
      margin: 3px 3px;
      width: 300px;
      height: 300px;
      background-color: $purple;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
        @include transition(opacity 200ms ease);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  #pagination {
    clear: both;
    float: right;
    font-size: 14px;
    @include whitney-medium;
    padding: 10px;
    padding-top: 20px;

    .current {
      color: $orange;
    }

    .current, a {
      margin-left: 6px;
    }

    .seperator {
      margin-left: 6px;
    }

    .prev {
      margin-right: 4px;
    }

    .next {
      margin-left: 10px;
    }
  }

  #image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;

    img {
      display: block;
      margin: 0 auto;
    }

    a {
      @include link-colors($body-background, darken($body-background, 20));
    }

    .icon-cancel {
      position: absolute;
      font-size: 30px;
      top: 10px;
      right: 10px;
    }

    .icon-right-open-big, .icon-left-open-big {
      position: absolute;
      font-size: 60px;
      top: 50%;
      margin-top: -30px;
    }

    .icon-right-open-big {
      right: 10px;
    }

    .icon-left-open-big {
      left: 10px;
    }
  }
}

// Unveiling of images
.js #main-wrapper.gallery {
  #images {
    .thumb {
      opacity: 0.03;
      @include transition(opacity 500ms ease);

      &.loaded {
        opacity: 1;
      }
    }
  }
}