html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  text-rendering: optimizeLegibility;
  @include whitney-book;
  font-size: 16px;
  line-height: 150%;
  height: 100%;
  background: $body-background;
  color: $grey;
}

strong, b {
	@include whitney-medium;
}

em, i {
	@include sentinel-medium-italic;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h4 {
	margin: 0;
	margin-top: 25px;
	font-size: 16px;
	@include whitney-medium;
}

p, ul, ol {
	margin: 25px 0 0 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

a {
	text-decoration: none;
	@include transition(color ease 250ms);
	@include link-colors($teal, lighten($teal, 20));
}

.hideable-title {
	span {
		@include whitney-medium;
		@include link-colors($teal, lighten($teal, 20));
		cursor: pointer;

		&:after {
			content: '\e808';
			@include font-icon;
			text-align: left;
			width: auto;
			margin-left: 0.4em;
			@include transition(transform 200ms linear);
		}
	}

	&.expanded span:after {
		content: '\e806';
	}
}

.csstransforms3d .hideable-title.expanded span:after {
	content: '\e808';
	@include transform(rotate(90deg));
}

.hideable-content {
	margin-left: 40px;
	padding-bottom: 25px;
}

h4, .hideable-content {
	& + .hideable-title {
		margin-top: 0;
	}
}

@mixin button {
	display: inline-block;
	margin: 0;
	margin-top: 25px;
	background-color: $orange;
	padding: 10px 22px 10px 24px;
	@include border-radius(5px);
	border: none;

	color: $body-background;
	@include whitney-medium;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;

	@include transition(background-color ease 250ms);
	&:hover {
		color: white;
		background-color: lighten($orange, 10);
	}

	&.disabled {
		background-color: lighten($grey, 30);
	}
}

.button {
	@include button;
}

p .button {
	margin-top: 0;
}

.content {
	max-width: $max-page-width + (2 * $body-horizontal-padding);
	padding: 0 $body-horizontal-padding;
	margin: 0 auto;
}

#main-wrapper {
	padding-bottom: $page-bottom-padding;
	@include clearfix;

	header h3 {
		margin: 0;
		color: $grey;

		@include whitney-semibold;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 2px;

		a {
			@include link-colors($grey, lighten($grey, 20));
		}
	}
}

#main-content {
	width: 100%;
	max-width: 560px;
	float: right;

	img {
		max-width: 100%;
	}

	& > section {
		padding-top: $page-top-padding;
		padding-bottom: $section-spacing - $page-top-padding;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 16px;
		margin: 0;
		margin-top: 25px;
		@include sentinel-medium-italic;

		& + p, & + ul {
			margin-top: 0;
		}
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
	}

	&:before {
		content: '';
		display: block;
		position: fixed;
		width: 100%;
		top: 3px;
		left: 0;
		height: 1px;
		// @include background(linear-gradient(bottom, rgba($body-background, 0.5), rgba($body-background, 0.8)));
		background: rgba($body-background, 0.4);
	}
}


@media all and (max-width: 767px) {
	#main-content {
		float: none;
		margin: 0 auto;
	}
}

#ie-message {
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $purple;
	color: $cream;
	z-index: 300;
	padding: 8px 0;

	p {
		margin-top: 0;
		@include whitney-medium;
		font-size: 18px;
	}

	a {
		text-decoration: underline;
		@include link-colors(lighten($teal, 20), lighten($teal, 30));
	}
}