body.home {
	.skrollable {
		z-index: 100;
		position: fixed;

		.skrollable {
			position: absolute;
		}
	}

	.scroll {
	  position: absolute;
	  overflow: hidden;
	  background-color: inherit;
	  color: $body-background;

	  height: 30px;
	  top: -30px;
	  width: 50px;
	  margin-left: -25px;
	  left: 50%;

	  @include border-top-radius(20px);

	  @include whitney-semibold;
	  text-align: center;
	  font-size: 16px;
	  letter-spacing: 1px;

	  p {
	  	display: none;
	    margin-top: 20px;
	  }

	  i {
	  	margin-top: 5px;
	    font-weight: normal;
	    display: block;
	    font-size: 26px;

	    &:before {
	    	margin: 0;
	    }
	  }

	  &:after {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    opacity: 0;
	    @include background(linear-gradient(bottom, rgba(white, 0), rgba(white, 0.15)));
	    @include transition(opacity 250ms ease);
	  }

	  &:hover {
	    &:after {
	      opacity: 1;
	    }
	  }
	}

	.navbar-cover {
		display: none;
		position: absolute;
		bottom: 0;
		height: $nav-height;
		left: 0;
		width: 100%;
		background-color: white;
		z-index: 150;
	}

	#start {
		background-color: black;
		background-repeat: no-repeat;
		background-position: center center;
		@include background-size(cover);
		margin-top: 0;

		&.skrollable {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
		}

		h1 {
			@include replace-text-with-dimensions('logo-large.png');
			margin: 0;
			margin-top: 23px;
			margin-left: 28px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	#brief {
		@import "brief-section"
	}

	#testimonials {
		@import "testimonials";
	}

	#feeds {
		@import "feeds";
	}

	#credits {
		@import "credits";
	}

	& > section {
		position: relative;
		padding-top: 1px;
		width: 100%;
		height: 100%;

		&:last-child {
			padding-bottom: $page-bottom-padding;
		}
	}
}
