@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?99896003');
  src: url('../fonts/fontello.eot?99896003#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?99896003') format('woff'),
       url('../fonts/fontello.ttf?99896003') format('truetype'),
       url('../fonts/fontello.svg?99896003#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?99896003#fontello') format('svg');
  }
}
*/

@mixin font-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  @include font-icon;
}

.icon-home:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-cw:before { content: '\e80b'; } /* '' */
.icon-down-open-mini:before { content: '\e806'; } /* '' */
.icon-right-open-mini:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */