#map {
  background-repeat: repeat;
  z-index: 10;

  &.skrollable {
    z-index: 100;
  }

  .inner {
    position: relative;
  }

  .wrapper {
    overflow: hidden;
    margin-top: -1px;
    width: 100%;
    height: 100%;
  }

  .background img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }

  .background.main img {
    z-index: 0;
  }

  .route {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .options {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: $orange;
    padding: 30px 40px;
    @include border-radius(10px);

    p {
      @include whitney-semibold;
      text-transform: uppercase;
      margin-top: 0;
    }

    ul {
      @include whitney-medium;
      margin-top: 10px;
      list-style-type: none;
      padding: 0;
    }

    a {
      @include link-colors(darken($teal, 10), $teal);
    }

    .current a {
      color: $body-background;
    }
  }

  .point {
    height: 0;
    position: absolute;

    &:after {
      content: '';
      $hit-radius: 24px;
      position: absolute;
      left: 0;
      top: 0;
      width: $hit-radius * 2;
      height: $hit-radius * 2;
      border-radius: 50%;
      margin-left: -1 * $hit-radius;
      margin-top: -1 * $hit-radius;
    }

    &:before {
      content: '';
      display: block;

      $radius: 8px;
      $border: 4px;
      border: $border solid $grey;
      width: $radius * 2;
      height: $radius * 2;
      background-color: $body-background;
      @include transition(background-color 250ms ease);
      border-radius: 50%;
      margin-left: -1 * ($radius + $border);
      margin-top: -1 * ($radius + $border);

      position: relative;
      z-index: 10;
    }

    .balloon {
      visibility: hidden;
      opacity: 0;
      @include transition(opacity 250ms ease, visibility 250ms ease);
      background-color: $cream;
      @include border-radius(10px);
      padding: 12px 16px;
      text-align: center;
      position: absolute;
      font-size: 12px;
      line-height: 150%;
      top: 40px;
      left: -120px;
      width: 240px;
      z-index: 20;

      p {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -40px;
        left: 116px;
        border-right: 4px solid transparent;
        border-bottom: 40px solid $cream;
        border-left: 4px solid transparent;
      }

      &.up {
        top: auto;
        bottom: 40px;

        &:before {
          top: auto;
          bottom: -40px;
          border-top: 40px solid $cream;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          border-bottom: none;
        }
      }
    }

    &:hover {
      .balloon {
        @include transition(opacity 600ms ease);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .u-turn {
    position: absolute;
    height: 0;

    .text {
      display: block;
      margin-left: -18px;
      margin-top: -18px;
      color: white;

      i {
        font-size: 36px;

        &:before {
          margin: 0;
          margin-right: -2px;
        }
      }
    }
  }

  .label {
    position: absolute;
    display: table;
    z-index: 2;
    width: 150px;
    height: 100px;
    margin-left: -75px;
    margin-top: -50px;

    p {
      line-height: 140%;
      margin: 0;
      display: table-cell;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;

      font-size: 14px;
      color: white;

      span {
        background-color: rgba($grey, 0.5);
        display: inline-block;
        padding: 6px 10px;
        @include border-radius(10px);
      }
    }
  }
}

#trail #map {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .close {
    position: absolute;
    @include link-colors($orange, lighten($orange, 20));
    font-size: 38px;
    top: 10px;
    right: 10px;
    z-index: 200;
  }
}

.map-small {
  position: relative;
  margin-top: 25px;
  @include transition(opacity 250ms ease);
  cursor: pointer;

  img {
    display: block;
  }

  img.route {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    // @include background-image(radial-gradient(50% 50%, rgba(black, 0.7) 40%, rgba(black, 0.3)));
    background-color: rgba(black, 0.5);
    @include transition(background-color 250ms ease);

    p {
      text-align: center;
      position: absolute;
      top: 50%;
      line-height: 50px;
      margin-top: -25px;
      width: 100%;
      @include whitney-medium;
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 2px;
      color: $cream;
    }
  }

  &:hover .overlay {
    background-color: rgba(black, 0.2);
  }
}