// Make menu hideable and move it to the top for widths below 768px
@media all and (max-width: 767px) {
  #main-nav {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    border-bottom: 3px solid $orange;
    @include text-shadow(none);

    .home-link {
      display: block;
    }

    ul {
      padding: 10px 0;
      margin: 0 (-1 * $body-horizontal-padding);
    }

    a {
      display: block;
    }

    ul li {
      display: block;
      text-align: center;
      margin: 0;
    }

    .sub-menu, ul ul { display: none }
  }

  #top-bar {
    display: none;
  }

  #main-wrapper {
    padding-bottom: $page-bottom-padding - $nav-height;
  }

  body.home {
    & > section {
      margin-top: 0 !important;
    }

    #start {
      h1 {
        margin: 0 auto;
        margin-top: 80px;
      }
    }

    #brief {
      margin-top: 0;
      padding-top: 0;
    }

    #testimonials {
      @media (orientation: portrait) {
        .profile {
          float: none;
          margin: 0 auto;
          width: 100%;
          padding: 0 20px;
        }

        .short {
          position: static;
          margin-top: 80px;
          padding: 0 40px;
          text-align: center;
        }
      }

      @media (orientation: landscape) {
        .profile {
          width: 150px;

          img {
            height: 150px;
            margin-top: 0;
          }
        }

        .short {
          top: 50px;
          left: 250px;

          p {
            font-size: 25px;
          }
        }
      }

      .full {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: none;
        @include border-radius(0);
      }

      .quote {
        height: 100%;
        overflow-y: auto;
      }
    }

    #feeds {
      #blog-feed {
        width: 45%;
      }

      #social-feed {
        width: 45%;
        ul {
          width: 100%;
        }
      }
    }

    #credits {
      .sponsors-2 {
        margin-top: 60px;
      }

      .logos a img {
        max-height: 60px;
      }
    }
  }

  #main-wrapper.gallery {
    #image-viewer {
      z-index: 250;
    }
  }

  .js {
    #main-nav {
      .pull {
        margin: 0 (-1 * $body-horizontal-padding);
        display: block;
        position: relative;
        font-size: 20px;
        @include whitney-medium;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        @include link-colors($nav-text-color, $orange);
        padding: 10px 0;

        &:after {
          @include font-icon;
          content: '\e80a';
          position: absolute;
          right: 10px;
        }
      }

      ul {
        display: none;
      }
    }
  }

  .no-js {
    body.home .scroll {
      display: none;
    }
  }
}

@media all and (max-width: 480px) {
  .content {
    padding: 0 30px;
  }

  body.home {

    #testimonials {
      .full {
        font-size: 14px;
      }

      @media (orientation: portrait) {
        .profile {

          img {
            height: 150px;
          }
        }

        .short {
          padding: 0 20px;
          margin-top: 40px;

          p {
            font-size: 25px;
          }
        }
      }

      @media (orientation: landscape) {
        .profile {
          width: 120px;

          img {
            height: 120px;
          }
        }

        .short {
          left: 200px;
          p {
            font-size: 22px;
          }
        }
      }
    }

    #feeds {
      .content {
        padding: 0;
        margin: 5% 30px;
        height: 90%;
        overflow-y: auto;
      }

      #social-feed, #blog-feed {
        float: none;
        width: 100%;
      }

      #social-feed {
        margin-top: 20px;
        a {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }

    #credits {
      .sponsors-2 {
        margin-top: 40px;
      }

      .logos a img {
        max-height: 40px;
      }
    }
  }

  #main-wrapper.gallery {
    #image-viewer {
      .icon-right-open-big, .icon-left-open-big {
        font-size: 30px;
      }
    }
  }
}

@media all and (max-width: 320px) {
  body.home {
    #start {
      h1 {
        left: 50%;
        margin-left: -1 * image-width('logo-large.png') / 2
      }
    }

    #testimonials {
      @media (orientation: portrait) {
        .profile {

          img {
            height: 120px;
          }
        }

        .short {
          padding: 0 10px;
          margin-top: 20px;

          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}