@mixin top-shadow {
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 10px;
		top: -10px;
		width: 100%;
		left: 0;
		@include background(linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)));
	}
}

$nav-backround: $purple;
$nav-text-color: $cream;

#main-nav {
	@include top-shadow;
	background: $nav-backround;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 $body-horizontal-padding;
	z-index: 200;

	.home-link, .pull {
		display: none;
	}

	& > ul {
		$line-height: 28px;

		line-height: $line-height;
		padding: 23px 0;

		max-width: $max-page-width;
		margin: 0 auto;

		font-size: 20px;
		@include whitney-medium;
		letter-spacing: 2px;
		text-transform: uppercase;

		& > li {
			display: inline-block;
			position: relative;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;

				ul {
					right: 0;
					padding-right: 0;
				}
			}

			a {
				@include link-colors($nav-text-color, $orange);
			}
		}

		ul {
			position: absolute;
			left: 0;
			bottom: 28px + 23px + 1px;
			margin: 0;
			text-align: left;
			right: -20px;
			padding-right: 10px;
			line-height: 20px;
			padding-bottom: 15px;
			z-index: 210;

			@include sentinel-medium-italic;
			letter-spacing: 0;
			font-size: 16px;
			text-transform: none;

			.social-links {
				font-size: 24px;
				margin-bottom: 14px;

				a:before {
					margin: 0;
					margin-right: 10px;
				}
			}

			a {
				display: inline-block;
				padding: 4px 0;
				@include link-colors($nav-text-color, $orange);
			}
		}
	}

	.sub-menu {
		@include top-shadow;
		position: absolute;
		left: 0;
		bottom: $nav-height;
		width: 100%;
		padding: 0 $body-horizontal-padding;
		background: $nav-backround;

		.bar {
			width: 100%;
			max-width: $max-page-width;
			margin: 0 auto;
			border-bottom: 1px solid $nav-text-color;
			height: 100%;
		}
	}

	// Sliding in the sub menus
	.sub-menu {
		visibility: hidden;
		height: 0;
		@include transition(height 300ms ease 100ms, visibility 300ms ease 100ms);
	}

	ul ul, .sub-menu .bar {
		visibility: hidden;
		opacity: 0;
		@include transition(opacity 250ms ease 50ms, visibility 250ms ease 50ms);
		overflow: hidden;
	}

	&:hover {
		.sub-menu {
		  visibility: visible;
		  height: 150px;
		  @include transition(height 300ms ease 0, visibility 300ms ease 0);
		}

		ul ul, .sub-menu .bar {
		  visibility: visible;
		  opacity: 1;
		  @include transition(opacity 400ms ease 100ms, visibility 400ms ease 100ms);
		}

		.sub-menu .bar {
			@include transition(opacity 350ms ease 200ms, visibility 350ms ease 200ms);
		}
	}
}

// Highlights
#main-nav .current > a {
	@include link-colors($orange, $orange);
}

// Responsiveness - reduce text size
@media all and (max-width: 1023px) {
	#main-nav {
		& > ul {
			font-size: 19px;

			ul {
				font-size: 15px;
			}
		}
	}
}

@media all and (max-width: 950px) {
	#main-nav {
		& > ul {
			font-size: 17px;

			ul {
				font-size: 14px;
			}
		}
	}
}

@media all and (max-width: 900px) {
	#main-nav {
		& > ul {
			font-size: 16px;

			ul {
				font-size: 14px;
			}
		}
	}
}

@media all and (max-width: 850px) {
	#main-nav {
		& > ul {
			font-size: 15px;

			ul {
				font-size: 13px;
			}
		}
	}
}

@media all and (max-width: 800px) {
	#main-nav {
		& > ul {
			font-size: 14px;

			ul {
				font-size: 13px;
			}
		}
	}
}