.no-js, .lt-ie8 {
  .hideable-title {
    span {
      cursor: default;
      color: $grey;

      &:after {
        display: none;
      }
    }
  }

  body.home {
    & > section {
      margin-top: -74px;
      padding-bottom: 74px;
    }

    #home {
      margin-top: 0;
    }

    #map {
      display: none;
    }

    .scroll {
      z-index: 130;
    }

    #testimonials {
      background-color: black;
      height: auto;

      .next {
        display: none;
      }

      .scroll {
        background-color: black;

        &:hover {
          @include background(linear-gradient(bottom, black, lighten(black, 10)));
        }
      }

      .image {
        display: none;
        @include clearfix;
      }

      .more {
        display: none;
      }

      li {
        position: static;
        clear: both;
        @include clearfix;
        padding-top: 60px;
      }

      .profile {
        margin-top: -30px;

        img {
          margin-top: 0;
        }
      }

      .short {
        position: static;
        margin-left: 300px;
      }

      .full {
        display: block;
        position: static;
        margin-left: 300px;
        padding: 20px 0;

        .close {
          display: none;
        }
      }

      @media (orientation: portrait) {
        .profile {
          text-align: center;
          width: 100%;
          margin-top: 40px;
        }

        .short {
          margin-left: 0;
        }

        .full {
          margin-left: 0;
          padding: 20px;
        }
      }

      @media all and (orientation: landscape) {
        @media (max-width: 480px) {
          .short, .full {
            margin-left: 200px;
          }
        }
      }
    }

    #feeds {
      margin-top: 0;
      height: auto;
      @include clearfix;

      ul {
        max-height: 1000px;
        margin-bottom: 60px;
        overflow: hidden;
      }

      #blog-feed, #social-feed {
        width: 50%;
      }

      #social-feed {
        ul {
          width: 100%;
        }
      }
    }

    #credits {
      margin-top: 0;
    }
  }

  .map-small {
    cursor: default;

    .overlay {
      display: none;
    }
  }

  #records .filters {
    .year, .seperator {
      display: none;
    }
  }
}