#side-nav {
	position: fixed;
	height: 100%;
	width: 180px;

	$side-nav-text-color: $teal;
	ul {
		margin-top: $page-top-padding;

		@include sentinel-medium-italic;
		text-align: left;
		font-size: 14px;
		line-height: 24px;
		color: $side-nav-text-color;

		a {
			@include link-colors($side-nav-text-color, lighten($side-nav-text-color, 20));
		}

		h2 {
			@include whitney-semibold;
			@include sentinel-medium-italic;
			color: $grey;
			// text-transform: uppercase;
			font-size: 18px;
			// letter-spacing: 2px;
			margin: 0;
			padding-bottom: 12px;
			margin-right: -2px;

			a {
				@include link-colors($grey, lighten($grey, 20));
			}
		}
	}

	.social-links {
		font-size: 22px;
		margin-top: 8px;

		a:before {
			margin: 0;
			margin-right: 10px;
		}
	}
}

@media all and (max-width: 850px) {
	#side-nav {
		width: 120px;

		ul {
			font-size: 12px;

			h2 {
				visibility: hidden;
				margin-bottom: 12px;
			}
		}
	}
}

@media all and (max-width: 767px) {
	#side-nav {
		display: none;
	}
}