& {
  background-color: #141414;
}

.image {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  @include background-size(cover);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.next {
  color: $body-background;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 5px;

  &.first {
    z-index: 110;
  }

  i {
    font-size: 40px;

    &:before {
      @include border-radius(50%);
      background-color: $grey;
      padding: 11px 9px 11px 13px;
      @include transition(background-color 250ms ease);
    }
  }

  &:hover {
    i:before {
      background-color: lighten($grey, 10);
    }
  }
}

ul {
  margin: 0;
}

li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  color: $body-background;
}

.profile {
  float: left;
  margin: 20px 40px;
  padding: 0;
  max-width: 200px;
  max-height: 200px;

  img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-height: 200px;
    max-width: 200px;
    @include border-radius(100px);
  }

  .name {
    text-transform: uppercase;
    @include whitney-medium;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .description p {
    margin: 0;
    @include sentinel-medium-italic;
    width: 100%;
    text-align: center;
  }
}

.short {
  position: absolute;
  top: 100px;
  left: 300px;
  padding-right: 20px;
  margin: 0;

  p {
    @include sentinel-medium-italic;
    font-size: 30px;
    line-height: 150%;
    max-width: 1000px;
    margin: 0;

    &:before { content: "\201C" }
    &:after { content: "\201D" }
  }

  .more {
    @include link-colors(lighten($teal, 10), lighten($teal, 30));
    margin-top: 10px;
    float: right;
    display: block;
    text-transform: lowercase;
    @include whitney-medium;
  }
}

.full {
  display: none;
  position: absolute;
  background-color: black;
  top: 5%;
  left: 300px;
  right: 150px;
  max-height: 90%;
  opacity: 0.95;
  padding: 40px 40px 30px 40px;
  @include border-radius(20px);

  p:first-child {
    margin-top: 0;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
  }
}

a {
  @include link-colors($body-background, darken($body-background, 20));
}