body.page, body.blog {
	&:before {
		content: '';
		display: block;
		height: 3px;
		position: fixed;
		background: $orange;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
}

#top-bar {
	background-color: $orange;
	position: fixed;
	top: 0;
	left: 0;
	width: 34px;
	height: 34px;
	z-index: 20;
	@include border-bottom-right-radius(20px);

	a {
		color: $body-background;
		@include transition(none);
		display: block;
		margin: 0;
		padding: 0;

		&:hover {
			color: $purple;
		}
	}

	i {
		display: block;
		font-size: 20px;
		margin-left: 5px;
		margin-top: 3px;

		&:before {
			margin: 0;
		}
	}

	h1 {
		@include hide-text;
		margin: 0;
		height: 0;
	}
}