// Colours
$orange: #F59412;
$teal: #467b54;
$purple: #341120;
$grey: #333;
$body-background: #fffeef;
$cream: #E2DEA6;

// Settings
$max-page-width: 960px;
$body-horizontal-padding: 50px;
$page-top-padding: 60px;
$section-spacing: 80px;
$page-bottom-padding: 100px;
$section-margin: 50px;
$nav-height: 74px;

// Fonts
@mixin whitney-book {
  font-family: 'Whitney SSm 4r', 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin whitney-medium {
  font-family: 'Whitney SSm 5r', 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin whitney-semibold {
  font-family: 'Whitney SSm 6r', 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 600;
  font-style: normal;
}


@mixin sentinel-medium-italic {
  font-family: 'Sentinel SSm 5i', 'Sentinel SSm A', 'Sentinel SSm B';
  font-weight: 500;
  font-style: italic;
}


@mixin distressed {
  font-family: 'handcancelledhtf-one', sans-serif;
  font-weight: 400;
  font-style: normal;
}