@import "compass";
@import "fonts-ie";
@import "variables";

// Cloud typography fix
.lt-ie9 * {
  font-weight: normal !important;
  font-style:  normal !important;
}

// Reduce nav link size
.lt-ie9 {
  #main-nav {
    & > ul {
      font-size: 14px;

      ul {
        font-size: 13px;
      }
    }
  }

  #ie-message {
    display: block;
  }

  #top-bar {
    z-index: 301;
  }

  body.home #start h1 {
    margin-top: 50px;
  }
}

// Additionally - all non JS styles are included for IE7 and below, and javascript is disabled
.lt-ie8 {
  #main-nav {
    ul {
      text-align: center;

      li {
        top: 0;
        display: block;
        float: left;
        margin-left: 30px;
        line-height: 28px;
      }

      ul {
        display: none;
      }
    }
  }

  .sub-menu {
    display: none;
  }

  .scroll {
    display: none;
  }

  body.home #feeds {
    #social-feed a {
      padding-left: 0;
    }

    ul {
      position: relative;
    }
  }


  .organiser {
    margin-top: 100px;
  }

  #records table.course {
    display: block;
  }
}

.lt-ie7 {
  #main-nav {
    margin-top: 30px;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
    @include text-shadow(none);

    font-size: 20px;
    @include whitney-medium;
    letter-spacing: 2px;
    text-transform: uppercase;

    .home-link {
      display: block;
    }

    .pull {
      display: none;
    }

    ul {
      padding: 10px 0;
      margin: 0 (-1 * $body-horizontal-padding);
    }

    a {
      display: block;
    }

    ul li {
      display: block;
      text-align: center;
      float: none;
      zoom: 1;

      a {
        @include link-colors($cream, $orange);
      }
    }

    .sub-menu, ul ul { display: none }
  }

  #main-content section {
    padding-top: $page-top-padding;
    padding-bottom: $section-spacing - $page-top-padding;
  }

  body.home section {
    position: relative;
    padding-top: 1px;
    width: 100%;
    height: 100%;

    &:last-child {
      padding-bottom: $page-bottom-padding;
    }
  }

  #main-nav .current a {
    @include link-colors($orange, $orange);
  }

  #top-bar {
    display: none;
  }

  .map-small {
    display: none;
  }

  // PNG Fix
  #credits img {
    position: relative;
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
    this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
    this.src = "/wp-content/themes/ktm/library/images/clear.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
    this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
    this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
  }
}