// Animation keyframes for skrollr library

// Control variables
$nav-height:74px;

$brief-entrance-time:400;
$brief-wait-time:80;
$map-entrance-time:400;
$map-wait-time:80;
$testimonials-entrance-time:400;
$testimonials-stay-time:50;
$testimonials-darken-time:200;

$num-quotes:5;
$quote-enter-time:150;
$quote-stay-time:250;
$quote-leave-time:150;

$feeds-entrance-time:400;
$feeds-wait-time:80;

$credits-entrance-time:400;

// Derivative variables
$start-exit-time:0;

$brief-enter-time:$start-exit-time + $brief-entrance-time;
$brief-exit-time:$brief-enter-time + $brief-wait-time;

$map-enter-time:$brief-exit-time + $map-entrance-time;
$map-exit-time:$map-enter-time + $map-wait-time;

$testimonials-enter-time:$map-exit-time + $testimonials-entrance-time;
$quote-start-time:$testimonials-enter-time + $testimonials-stay-time + $testimonials-darken-time;
$quote-total-time:$quote-enter-time + $quote-stay-time;
// $testimonials-exit-time:$quote-start-time - $quote-enter-time + $num_quotes * $quote-total-time;

$feeds-enter-time:$feeds-entrance-time;
$feeds-exit-time:$feeds-enter-time + $feeds-wait-time;

$credits-enter-time:$feeds-exit-time + $credits-entrance-time;

/* Start section */
#start {
	-skrollr-animation-name:start-section-stay;
}

@-skrollr-keyframes start-section-stay {
    #{ $start-exit-time } {
      top#{'[swing]'}:0%;
    }
    #{ $brief-enter-time } {
      top#{'[swing]'}:0%;
    }
}

/* Brief section */
#brief {
	-skrollr-animation-name:brief-section-enter;
}

@-skrollr-keyframes brief-section-enter {
	#{ $start-exit-time } {
    top#{'[swing]'}:100%;
    margin-top:-1 * $nav-height;
  }
  #{ $brief-enter-time } {
    top#{'[swing]'}:0%;
    margin-top:0;
  }
}

/* Map section */
body.home #map {
  -skrollr-animation-name:map-section-enter;
}

@-skrollr-keyframes map-section-enter {
  #{ $start-exit-time } { top#{'[swing]'}:200%; }
  #{ $brief-enter-time } { top#{'[swing]'}:100%; }

  #{ $brief-exit-time } {
    top#{'[swing]'}:100%;
    margin-top:-1 * $nav-height;
  }
  #{ $map-enter-time } {
    top#{'[swing]'}:0%;
    margin-top:0;
  }
}

/* Testimonials section */
#testimonials {
  -skrollr-animation-name:testimonials-section-enter;

  .image {
    -skrollr-animation-name:testimonials-section-darken;
  }

  .next.first {
    -skrollr-animation-name:testimonials-next-first-fade;
  }
}

@-skrollr-keyframes testimonials-section-enter {
  #{ $brief-exit-time } { top#{'[swing]'}:200%; }
  #{ $map-enter-time } { top#{'[swing]'}:100%; }

  #{ $map-exit-time } {
    top#{'[swing]'}:100%;
    margin-top:-1 * $nav-height;
  }
  #{ $testimonials-enter-time } {
    top#{'[swing]'}:0%;
    margin-top:0;
  }
}

@-skrollr-keyframes testimonials-section-darken {
  #{ $testimonials-enter-time + $testimonials-stay-time } { opacity:1 }
  #{ $quote-start-time } { opacity:0.35 }
}

@-skrollr-keyframes testimonials-next-first-fade {
  #{ $testimonials-enter-time + $testimonials-stay-time } { opacity:1; display:#{'!'}block; }
  #{ $quote-start-time } { opacity:0; display:#{'!'}none; }
}

// Quotes
@for $i from 1 through $num-quotes {
  #testimonials .quote-#{$i} {
    -skrollr-animation-name:quote-#{$i}
  }

  @-skrollr-keyframes quote-#{$i} {
    $curr-quote-start-time:$quote-start-time - $quote-enter-time + ($i - 1) * $quote-total-time;
    #{ $curr-quote-start-time  } { opacity#{'[swing]'}:0; left#{'[swing]'}:-100%; }
    #{ $curr-quote-start-time + $quote-enter-time } { opacity#{'[swing]'}:1; left#{'[swing]'}:0%; }
    #{ $curr-quote-start-time + $quote-enter-time + $quote-stay-time } { opacity#{'[swing]'}:1; left#{'[swing]'}:0%; }
    #{ $curr-quote-start-time + $quote-enter-time + $quote-stay-time + $quote-leave-time } { opacity#{'[swing]'}:0; left#{'[swing]'}:100%; }
  }
}


/* Feeds section */
#feeds {
	-skrollr-animation-name:feeds-section-enter;
}

@-skrollr-keyframes feeds-section-enter {
  #{ $map-exit-time } { top#{'[swing]'}:200%; }
  #{ $testimonials-enter-time } { top#{'[swing]'}:100%; }

	_testimonials_end-0 {
    top#{'[swing]'}:100%;
    margin-top:-1 * $nav-height;
  }
  _testimonials_end-#{ $feeds-enter-time } {
    top#{'[swing]'}:0%;
    margin-top:0;
  }
}


/* Credits section */
#credits {
  -skrollr-animation-name:credits-section-enter;
}

@-skrollr-keyframes credits-section-enter {
  _testimonials_end-0 { top#{'[swing]'}:200%; }
  _testimonials_end-#{ $feeds-enter-time } { top#{'[swing]'}:100%; }

  _testimonials_end-#{ $feeds-exit-time } {
    top#{'[swing]'}:100%;
    margin-top:-1 * $nav-height;
  }
  _testimonials_end-#{ $credits-enter-time } {
    top#{'[swing]'}:0%;
    margin-top:0;
  }
}
